body {
    background-image: url("http://wallpaperset.com/w/full/6/8/7/29750.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 30px;
}
nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-count: 3;
    column-gap: 30px;
    font-size: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 20px 20px 30px rgb(63, 5, 5);
    background-color: rgb(61, 58, 58);
    opacity: 0.75;
    padding: 5px;
    color: red;
}
.navText {
    text-decoration: none;
}
.navText:visited {
    color: red;
}
.navText:hover {
    text-decoration: underline;
}
.navText:active {
    color: rgb(49, 3, 3);
}
#homepage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url("https://static.vecteezy.com/system/resources/previews/006/076/792/original/10-abstract-modern-attractive-black-and-red-background-free-vector.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
    opacity: 0.7;
    border-radius: 16px;
    padding: 17% 20%;
}
#homepage h1 {
    text-align: end;
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
    /* padding-right: 200px; */
    /* padding-top: 10px; */
    opacity: 0.7;
}
#homepage h2 {
    text-align: start;
    /* padding-left: 200px; */
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    opacity: 0.8;
}
#aboutMe, #skills {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url("https://static.vecteezy.com/system/resources/previews/006/076/792/original/10-abstract-modern-attractive-black-and-red-background-free-vector.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    padding: 8% 15%;
    margin: 100px 100px;
}
#aboutMe h2 {
    color: red;
    font-size: 28px;
    text-align: end;
}
#aboutMe p {
    color: white;
    font-size: 18px;
    text-align: start;
}
.hobbies-link {
    color:red;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
}
.hobbies-link:hover {
    background-color: rgb(61, 58, 58);
    border-radius: 14px;
    margin-left: 40%;
    margin-right: 40%;
}
.hobbies-link:active {
    color: rgb(49, 3, 3)
}
.skills-link {
    color:red;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    
} 
.skills-link:hover {
    text-decoration: underline;
}
.skills-link:active {
    color: rgb(49, 3, 3)
}
#skills h3 {
    color: red;
    font-size: 24px;
    text-align: start;
}
#skills li {
    color: white;
    font-size: 18px;
    text-align: start;
}
#hobbies {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url("https://static.vecteezy.com/system/resources/previews/006/076/792/original/10-abstract-modern-attractive-black-and-red-background-free-vector.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    padding: 10% 15%;
    margin: 100px 100px;
}
#hobbies h2 {
    color: red;
    font-size: 34px;
    text-align: end;
}
#hobbies h4 {
    color: red;
    font-size: 28px;
    text-align: start;
}
#hobbies p {
    color: white;
    font-size: 18px;
    text-align: start;
}
#song-link {
    color:red;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}
#song-link:hover {
    background-color: rgb(61, 58, 58);
    border-radius: 14px;
    margin-left: 40%;
    margin-right: 40%;
}
#song-link:active {
    color: rgb(49, 3, 3)
}
#projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url("https://static.vecteezy.com/system/resources/previews/006/076/792/original/10-abstract-modern-attractive-black-and-red-background-free-vector.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    padding: 20% 25%;
    margin: 100px 100px;
}
#projects h2 {
    color: red;
    font-size: 34px;
    text-align: end;
}
#project-link {
    color:white;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}
#project-link:hover {
    background-color: rgb(61, 58, 58);
    border-radius: 14px;
    margin-left: 40%;
    margin-right: 40%;
}
#project-link:active {
    color: rgb(49, 3, 3)
}